language: elm
install:
  - npm install -g elm@0.19.1-3
  - npm install -g elm-test@0.19.1
  - npm install -g elm-format@0.8.2
script:
  - elm make src/Main.elm --output=/dev/null
  - elm-format --validate .
  - elm-test
